In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model

df = pd.read_csv("data.csv")
print(df.shape)
df.head()

(768, 10)

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [3]:
X = df.iloc[:, :-2].values
Y2 = df.iloc[:, 9].values

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y2_train, Y2_test = train_test_split(X, Y2, test_size = 0.2, random_state = 1)

In [23]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, Y2_train)

# Predicting the Test set results
Y2_pred = regressor.predict(X_test)

In [24]:
# Predict Y2
regressor.predict([[0.98, 514.5, 294.0, 110.25, 7.0, 2, 0.0, 0]])

array([25.54072402])

In [25]:
X_train, X_val, Y2_train, Y2_val = train_test_split(X_train, Y2_train, test_size=0.2, random_state=1)

In [32]:
from sklearn.model_selection import cross_validate
l = linear_model.LinearRegression()
scores = cross_validate(l, X, Y2, cv=18, scoring=('r2', 'neg_mean_squared_error'), return_train_score=True)

In [30]:
print(scores['test_neg_mean_squared_error'])

[-17.55305557 -10.18832544 -11.11557694 -11.11118814 -11.34592277
  -6.52441867  -9.42021883  -9.77157743 -10.52374766 -11.09532444
 -10.41402759 -11.19465369 -11.31599447 -12.54109189  -8.92659843
  -4.29026366 -10.49537946 -10.46175914]

In [31]:
accuracy = regressor.score(X_test,Y2_test)
print(accuracy*100,'%')

85.66557424083047 %